@page
@model apiBancario.Pages.Clientes.ListarModel

<h1>Listar Clientes</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Endereco</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.Email</td>
                <td>@cliente.Saldo</td>
            </tr>
        }
    </tbody>
</table>
